@import "tailwindcss";
@import './utilities.css';

@theme {
  --font-poppins: Poppins, sans-serif;

  --color-turquoise-50: oklch(0.9685 0.02 200.65);

  --color-turquoise-100: oklch(0.9348 0.0394 200.42);

  --color-turquoise-200: oklch(0.8761 0.0758 198.98);

  --color-turquoise-300: oklch(0.8205 0.1042 198.41);

  --color-turquoise-400: oklch(0.7747 0.1217 198.3);

  --color-turquoise-500: oklch(0.7339 0.124768 199.4425);

  --color-turquoise-600: oklch(0.6232 0.105957 198.8623);

  --color-turquoise-700: oklch(0.5046 0.085784 199.0335);

  --color-turquoise-800: oklch(0.3818 0.0649 199.3);

  --color-turquoise-900: oklch(0.2442 0.0415 200.06);

  --color-yellow-80p: oklch(0.973 0.071 103.193 / 80%);
  --color-green-80p: oklch(0.962 0.044 156.743 / 80%);
  --color-blue-80p: oklch(0.932 0.032 255.585 / 80%);
  --color-indigo-80p: oklch(0.93 0.034 272.788 / 80%);
  --color-purple-80p: oklch(0.946 0.033 307.174 / 80%);
}
